.request li,
.response li {
    display: inherit;
}

.request ul,
.respones ul {
    padding-inline-start: 2em;
}

.request .list-collapse-indicator,
.response .list-collapse-indicator {
    margin-left: 0;
}
